@model Riviera_Business.Models.CAsesores

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CAsesores</h4>
<script href="js">
    $(.document).ready(function () {
        $("#texto").on("load", function () {
         });
    });
</script>
<hr />
<p id="texto">Para agregar asesores en caso de haber llegado alguien nuevo</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstado" class="control-label"></label>
                <select asp-for="IdEstado" class ="form-control" asp-items="ViewBag.Estado"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipoVenta" class="control-label"></label>
                <select asp-for="TipoVenta">
                    <option value="1">Retail</option>
                    <option value="2">Inter Agencias</option>
                </select>
                <span asp-validation-for="TipoVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar N." class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Lista de Asesores</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
