@model Riviera_Business.Models.CCarroExtra

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CCarroExtra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Manuales" class="control-label"></label>
                <select asp-for="Manuales">
                    <option value="1">Si</option>
                    <option value="2">No</option>
                </select>
                <span asp-validation-for="Manuales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarnetServicio" class="control-label"></label>
                <select asp-for="CarnetServicio">
                    <option value="1">Si</option>
                    <option value="2">No</option>
                </select>
                <span asp-validation-for="CarnetServicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duplicado" class="control-label"></label>
                <select asp-for="Duplicado">
                    <option value="1">Si</option>
                    <option value="2">No</option>
                </select>
                <span asp-validation-for="Duplicado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LlantaRefaccion" class="control-label"></label>
                <select asp-for="LlantaRefaccion">
                    <option value="1">Si</option>
                    <option value="2">No</option>
                </select>
                <span asp-validation-for="LlantaRefaccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Herramientas" class="control-label"></label>
                <select asp-for="Herramientas">
                    <option value="1">Si</option>
                    <option value="2">No</option>
                </select>
                <span asp-validation-for="Herramientas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gato" class="control-label"></label>
                <select asp-for="Gato">
                    <option value="1">Si</option>
                    <option value="2">No</option>
                </select>
                <span asp-validation-for="Gato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Antena" class="control-label"></label>
                <select asp-for="Antena">
                    <option value="1">Si</option>
                    <option value="2">No</option>
                </select>
                <span asp-validation-for="Antena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstado" class="control-label"></label>
                <select asp-for="IdEstado" class="form-control" asp-items="ViewBag.Estados"></select>
            </div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Referencia del Automovil</label>
                <select asp-for="IdCarro"  onchange="obtenerMMV(this)"  class="form-control" id="prueba" asp-items="ViewBag.Caracarro"></select>
            </div>
            <label>Version del Carro</label>
            <p  id="regresaversion"></p>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
<script>
    function obtenerMMV(select) {
        var idSelected = select.value;
        $.ajax({
            url: "/CCarroExtras/RecuperarVersion",
            method: "POST",
            data: { "id": idSelected },
            success: function (z) {
                console.log(z)
                let selectVersion = document.getElementById("regresaversion");
                let html = "";
                html += "<option value ='" + z.idVersionCarro + "' >" + z.versionCarro + "</option>";
                selectVersion.innerHTML = html;
            }
          
        });
    }
    
</script>