@model Riviera_Business.Models.TbCarros

@{
    ViewData["Title"] = "Create";
}

<script>
    $('#tableid').on('click', 'button', function () {
        $(this).parent().parent().remove();
    });

    $('#tableid').on('change', 'select', function () {
        if ($(this).val()) { $(this).next().show(); }
    });
</script>

<h1>CreateRetail</h1>

<h4>TbCarros</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="TipoCompraCanal" class="control-label"></label>
                <select asp-for="TipoCompraCanal" class="form-control">
                    <option value="1">Inter Agencias</option>
                    <option value="2">Retail</option>
                </select>
                <span asp-validation-for="TipoCompraCanal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProveedor" class="control-label"></label>
                <input asp-for="IdProveedor" class="form-control" />
                <span asp-validation-for="IdProveedor" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Kms" class="control-label"></label>
                <input asp-for="Kms" class="form-control" />
                <span asp-validation-for="Kms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FolioFiscal" class="control-label"></label>
                <input asp-for="FolioFiscal" class="form-control" />
                <span asp-validation-for="FolioFiscal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFactToma" class="control-label"></label>
                <input asp-for="FechaFactToma" class="form-control" />
                <span asp-validation-for="FechaFactToma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Antiguedad" class="control-label"></label>
                <input asp-for="Antiguedad" class="form-control" />
                <span asp-validation-for="Antiguedad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorExt" class="control-label"></label>
                <input asp-for="ColorExt" class="form-control" />
                <span asp-validation-for="ColorExt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorInt" class="control-label"></label>
                <input asp-for="ColorInt" class="form-control" />
                <span asp-validation-for="ColorInt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoSerie" class="control-label"></label>
                <input asp-for="NoSerie" class="form-control" />
                <span asp-validation-for="NoSerie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoMotor" class="control-label"></label>
                <input asp-for="NoMotor" class="form-control" />
                <span asp-validation-for="NoMotor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumEconomicoOpc" class="control-label"></label>
                <input asp-for="NumEconomicoOpc" class="form-control" />
                <span asp-validation-for="NumEconomicoOpc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MvaOpc" class="control-label"></label>
                <input asp-for="MvaOpc" class="form-control" />
                <span asp-validation-for="MvaOpc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transmicion" class="control-label"></label>
                <select asp-for="Transmicion" id="cars">
                    <option value="1">Manual</option>
                    <option value="2">Secuencial</option>
                    <option value="3">Automatico</option>
                    <option value="3">CVT</option>
                    <option value="3">Automatizada Doble</option>
                </select>
                <span asp-validation-for="Transmicion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaveVehicular" class="control-label"></label>
                <input asp-for="ClaveVehicular" class="form-control" />
                <span asp-validation-for="ClaveVehicular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstado" class="control-label"></label>
                <select asp-for="IdEstado" class="form-control" asp-items="ViewBag.Estados"></select>
            </div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <!-----------------------------
                <div class ="form-group">
                <label for="IdMarca" id="MarcaCar" class="control-label"> Version:</label>
                <select asp-for="IdMarca"
                -------------------------------->
           
            <div class="form-group">
                <label for="IdVersion" id="VersionCar" class="control-label">Versión: </label>
                <select asp-for="IdVersion" id="IdVersionn" class="form-control" asp-items="ViewBag.Version"></select>

            </div>

            <!------------------------------------------------------------->
            <div class="form-group">
                <label asp-for="DuenoAnterior" class="control-label"></label>
                <input asp-for="DuenoAnterior" class="form-control" />
                <span asp-validation-for="DuenoAnterior" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Origen" class="control-label"></label>
                <input asp-for="Origen" class="form-control" />
                <span asp-validation-for="Origen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ubicacion" class="control-label"></label>
                <input asp-for="Ubicacion" class="form-control" />
                <span asp-validation-for="Ubicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropuestaCliente" class="control-label"></label>
                <input asp-for="PropuestaCliente" class="form-control" />
                <span asp-validation-for="PropuestaCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaOferta" class="control-label"></label>
                <input asp-for="FechaOferta" class="form-control" />
                <span asp-validation-for="FechaOferta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
