@model Riviera_Business.Models.TbSeguimiento

@{
    ViewData["Title"] = "Create";
}


<script>

</script>
<h1>Agregar</h1>

<h4>Seguimiento</h4>
<p>En este apartado se guardaran las pesonas que vengan a muestreo 
    con todas los datos necesarios </p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreCompleto" class="control-label"></label>
                <input asp-for="NombreCompleto" class="form-control" />
                <span asp-validation-for="NombreCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CMedioPublicitario" class="control-label">Contacto o Medio</label>
                <select asp-for="CMedioPublicitario" class="form-control" asp-items="ViewBag.Mediopubli"></select>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <input asp-for="Sexo" class="form-control" />
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAsesor" class="control-label"></label>
                <select asp-for="IdAsesor" class="form-control" asp-items="ViewBag.Asesor"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdCarro" class="control-label">Carro Interes</label>
                <select asp-for="IdCarro"  class="form-control" asp-items=" ViewBag.Carros"></select>
            </div>

            <!----------------------------------------------------------
        ------------------------
        -------------------------->
            <div class="form-group">
                <label asp-for="Contesto" class="control-label">Verificacion Telefonica</label>
                <select asp-for="Contesto" class="form-control">
                    <option value="1">Si</option>
                    <option value="2">No</option>
                </select>
                <span asp-validation-for="Contesto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cita" class="control-label">Cita Confirmada</label>
                <select asp-for="Cita" class="form-control">
                    <option value="1">Si</option>
                    <option value="2">No</option>
                </select>
                <span asp-validation-for="Cita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCita" class="control-label">Cita Agendada</label>
                <input asp-for="FechaCita" class="form-control" />
                <span asp-validation-for="FechaCita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asistio" class="control-label"></label>
                <select asp-for="Asistio" class="form-control">
                    <option value="1">Si</option>
                    <option value="2">No</option>
                </select>
                <span asp-validation-for="Asistio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Toma" class="control-label">Deja Vehiculo a Cuenta</label>
                <select asp-for="Toma" class="form-control">
                    <option value="1">Si</option>
                    <option value="2">No</option>
                </select>
                <span asp-validation-for="Toma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PruebaManejo" class="control-label"></label>
                <select asp-for="PruebaManejo" class="form-control">
                    <option value="1">Si</option>
                    <option value="2">No</option>
                </select>
                <span asp-validation-for="PruebaManejo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoCompra" class="control-label">Contado o Financiado</label>
                <select asp-for="IdTipoCompra" class="form-control">
                    <option value="1">Contado</option>
                    <option value="2">Financiado</option>
                </select>
                <span asp-validation-for="IdTipoCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venta" class="control-label">Termino en Venta</label>
                <select asp-for="Venta" class="form-control">
                    <option value="1">Si</option>
                    <option value="2">No</option>
                </select>
                <span asp-validation-for="Venta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anticipo" class="control-label">Dejo Anticipo</label>
                <select asp-for="Anticipo" class="form-control">
                    <option value="1">Si</option>
                    <option value="2">No</option>
                </select>
                <span asp-validation-for="Anticipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadAnticipo" class="control-label"></label>
                <input asp-for="CantidadAnticipo" class="form-control" />
                <span asp-validation-for="CantidadAnticipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentarios" class="control-label"></label>
                <input asp-for="Comentarios" class="form-control" />
                <span asp-validation-for="Comentarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstado" class="control-label"></label>
                <select asp-for="IdEstado" class="form-control" asp-items="ViewBag.Estados"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
        <!--<div class="form-group">
        <p id="recibidor" />
    </div>-->
    </div>
</div>

<div>
    <a asp-action="Index">Lista Seguimiento</a>
</div>
<p style="font-size:small">Todos los datos son necesarios para llevar un mejor control
    y administracion </p>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function obtversion(select) {
        var idSelected = select.value;
        $.ajax({
            url: "/TbSeguimiento/RecuperarVersion",
            method: "POST",
            data: { "id": idSelected },
            success: function (e) {
                console.log(e);
                let selectModelo = document.getElementById("recibidor");
                let html = "";
                html += "<option value ='" + e.idVersionCarro + "' >" + e.versionCarro + "</option>";
                selectModelo.innerHTML = html;
            }
        });
    }

</script>
