@model Riviera_Business.Models.TbSeguimiento

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TbSeguimiento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreCompleto" class="control-label"></label>
                <input asp-for="NombreCompleto" class="form-control" />
                <span asp-validation-for="NombreCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CMedioPublicitario" class="control-label"></label>
                <select asp-for="CMedioPublicitario" class ="form-control" asp-items="ViewBag.Mediopubli"></select>
            </div>
            <div class="form-group">
                <label asp-for="DiaSemana" class="control-label"></label>
                <input asp-for="DiaSemana" class="form-control" />
                <span asp-validation-for="DiaSemana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <input asp-for="Sexo" class="form-control" />
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAsesor" class="control-label"></label>
                <input asp-for="IdAsesor" class="form-control" />
                <span asp-validation-for="IdAsesor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCarro" class="control-label"></label>
                <select asp-for="IdCarro" class ="form-control" asp-items="ViewBag.Carros"></select>
            </div>
            <div class="form-group">
                <label asp-for="Contesto" class="control-label"></label>
                <input asp-for="Contesto" class="form-control" />
                <span asp-validation-for="Contesto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cita" class="control-label"></label>
                <input asp-for="Cita" class="form-control" />
                <span asp-validation-for="Cita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asistio" class="control-label"></label>
                <input asp-for="Asistio" class="form-control" />
                <span asp-validation-for="Asistio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Toma" class="control-label"></label>
                <input asp-for="Toma" class="form-control" />
                <span asp-validation-for="Toma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PruebaManejo" class="control-label"></label>
                <input asp-for="PruebaManejo" class="form-control" />
                <span asp-validation-for="PruebaManejo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoCompra" class="control-label"></label>
                <input asp-for="IdTipoCompra" class="form-control" />
                <span asp-validation-for="IdTipoCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anticipo" class="control-label"></label>
                <input asp-for="Anticipo" class="form-control" />
                <span asp-validation-for="Anticipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venta" class="control-label"></label>
                <input asp-for="Venta" class="form-control" />
                <span asp-validation-for="Venta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentarios" class="control-label"></label>
                <input asp-for="Comentarios" class="form-control" />
                <span asp-validation-for="Comentarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstado" class="control-label"></label>
                <select asp-for="IdEstado" class ="form-control" asp-items="ViewBag.Estados"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
