@model IEnumerable<Riviera_Business.Models.CConcepto>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Conceptos</h1>

<p>
    <a asp-action="Create">Agregar Concepto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionConcepto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionConcepto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCConcepto">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdCConcepto">Detalles</a> |
            </td>
        </tr>
}
    </tbody>
</table>
