@model Riviera_Business.Models.CBanco

@{
    ViewData["Title"] = "Create";
}

<h3>Agregar Banco</h3>

<hr />
<p>Para agregar un banco en caso de que no este almacenado</p>
<div class="content">
    
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <label asp-for="Nombre" class="control-label">Escribir nombre de banco no registrado</label>
                </div>
                <div class="col-md-6">
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11" style="text-align:right">
                    <a asp-action="Index" class="btn btn-info">Ver Bancos</a>
                    <input style="margin-left:1%:" type="submit" value="Agregar Banco" class="btn btn-primary" />
                </div>
            </div>
                
</form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
