@model IEnumerable<Riviera_Business.Models.CBanco>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista Bancos</h1>

<p>
    <a asp-action="Create">Agregar Banco</a>
</p>
<p>Lista de bancos utilizados hasta el momento</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                Nombre Banco
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdBanco" class="btn btn-success">Editar Nombre</a> 
                <a asp-action="Details" asp-route-id="@item.IdBanco" class="btn  btn-info">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
